**/data
**/*.pyc
*/pycache
**/progress
**/checkpoint*
**/quick*
***.swp
comparison*
interim_data*
cmd*
corruptions/change_data/*200*
corruptions/change_data/*100*
corruptions/change_data/*50*
/logs
/seed
/pretrained
*.pt
*.db
*.npz
initial_imagenet.png
*.svg
*.bat
*.ckpt
*.temp